[core]
  editor = lvim
  autocrlf = input
  pager = delta

[user]
  name = Nathan Nguyen
  email = nathan22x3@gmail.com
  signingkey = 6837E5AD76E81CC5

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[hub]
  protocol = ssh

[gpg]
	program = /usr/local/MacGPG2/bin/gpg2

[alias]
  rc = config --global -e
  st = status
  save = "!git add . && git commit"
  undo = reset HEAD~1 --mixed
  clean = reset --hard
  br = branch --format='%(HEAD) %(color:red)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) %(color:reset)by %(color:blue)%(authorname)' --sort=-committerdate
  co = checkout
  up = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  sync = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  update = pull --rebase
  lg = log --all --date=relative --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d %s %Cgreen(%cr) %Cresetby %Cblue%cn%Creset' -n20
  lz = "!lazygit"

[safe]
  directory = *

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only --features=eldritch --paging=never

[delta]
  features = eldritch

[delta "gruvbox-dark"]
  commit-decoration-style = blue ol
  commit-style = raw
  dark = true
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#b8bb26"
  keep-plus-minus-markers = false
  line-numbers-minus-style = "#fb4934"
  line-numbers-plus-style = "#b8bb26"
  line-numbers = true
  minus-emph-style = syntax bold "#a11c17"
  minus-style = syntax "#7d1512"
  plus-emph-style = syntax bold "#696912"
  plus-style = syntax "#46460c"
  syntax-theme = gruvbox-dark

[delta "eldritch"]
  commit-decoration-style = blue ol
  commit-style = raw
  dark = true
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#37f499"
  keep-plus-minus-markers = false
  line-numbers-minus-style = "#f9515d"
  line-numbers-plus-style = "#37f499"
  line-numbers = true
  minus-emph-style = syntax bold "#d63843"
  minus-style = syntax "#b21f29"
  plus-emph-style = syntax bold "#1fbe72"
  plus-style = syntax "#07884a"
  syntax-theme = Eldritch

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
