"-------------------------------------------------------------------------------
" basic settings
"-------------------------------------------------------------------------------
" idea
set idearefactormode=keep
set ideajoin

let mapleader = " "

sethandler <C-A> a:ide
sethandler <C-B> n-v:vim i:ide
sethandler <C-C> a:vim
sethandler <C-G> a:ide
sethandler <C-H> i:vim n-v:ide
sethandler <C-L> i:vim n-v:ide
sethandler <C-S> a:ide
sethandler <C-Q> a:ide
sethandler <C-R> n-v:vim i:ide
sethandler <C-^> a:vim

" editor
syntax enable
set number relativenumber
set showmode
set incsearch hlsearch ignorecase
set scrolloff=10
set clipboard+=unnamed

"-------------------------------------------------------------------------------
" plugins
"-------------------------------------------------------------------------------
set NERDTree
set ReplaceWithRegister
set argtextobj
set commentary
set surround
set textobj-entire

nnoremap <leader>n :NERDTree<cr>
nnoremap <C-t> :NERDTreeToggle<cr>

"-------------------------------------------------------------------------------
" mappings
"-------------------------------------------------------------------------------
" remove search highlight
nnoremap <leader>h :nohl<cr>

" quick save
nnoremap <leader>w :w<cr>

" rename symbol
nnoremap <leader>r :action RenameElement<cr>
nnoremap <leader>lj :action GotoNextError<cr>
nnoremap <leader>lk :action GotoPreviousError<cr>

" increase/decrease number
nnoremap + <C-a>
nnoremap - <C-x>

" move line
nnoremap J mzJ`z
nnoremap <C-j> :m +1<cr>
nnoremap <C-k> :m -2<cr>
inoremap <C-j> <Esc>:m +1<cr>gi
inoremap <C-k> <Esc>:m -2<cr>gi
vnoremap <c-j> :m '>+1<cr>gv=gv
vnoremap <c-k> :m '<-2<cr>gv=gv

" exit insert mode
inoremap jj <Esc>

" movement in insert mode
inoremap <C-h> <C-o>h
inoremap <C-l> <C-o>l
inoremap <C-j> <C-o>j
inoremap <C-k> <C-o>k

" centering when scrolling and jumping
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
nnoremap n nzz
nnoremap N Nzz
nnoremap \* \*zz

" keep yanked text in register
xnoremap <leader>p \"_dP

" tab
nmap H :tabp<cr>
nmap L :tabn<cr>
nmap <leader>q :tabc<cr>
